/* nuestras variables */
:root {

    --white: #ffffff;
    --black: #000000;
    --very-light-ocre: #eed7af;
    --text-input-field: #F7f7f7;
    --hospital-blue: #619eae;

    /*Variables medidas texto*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    --font: 'Quicksand';

}

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--font);

}

/*clase inactiva que me permitira mediante js agregarsela 
o quitarse al componente div*/
.inactive {
    /* desparecemos el componente */
    display: none;

}



nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0 24px;
    border-bottom: 1px solid var(--very-light-ocre);

}

.menu {
    display: none;
    /*desaparece img menu en desktop*/
}

.logo {
    width: 100px;

}


.navbar-left {
    display: flex;
    align-items: center;


}

.navbar-rigth {
    display: flex;
    align-items: center;
    margin: 0;


}


.navbar-left ul,
.navbar-rigth ul {
    padding: 0;
    margin: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;

}

.navbar-left ul li a,
.navbar-rigth ul li a {
    color: var(--very-light-ocre);
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid var(--white);

}

.navbar-left ul li a:hover,
.navbar-rigth ul li a:hover {

    padding: 8px;
    margin-left: 8px;

    border: 1px solid var(--hospital-blue);
    border-radius: 12px;
    color: var(--hospital-blue)
}

.navbar-left ul {
    margin-left: 12px;
}

/*Estilizamos especificamente nav derecho*/
.navbar-email {
    cursor: pointer;
    color: var(--very-light-ocre);
    font-size: var(--sm);
}

.navbar-shoping-cart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-blue);
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /*ajustamos la bolita enel carrito de compras*/
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-shoping-cart {
    position: relative;
}

/*estilos DESKTOP MENU*/
.desktop-menu {
    /*posicionamos el componente*/
    position: absolute;
    top: 60px;
    right: 10px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-ocre);
    border-radius: 6px;
    padding: 20px 20px 0 20px;



}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}


.desktop-menu ul li {
    text-align: end;
}

.desktop-menu__link {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    font-weight: bold;

}

.desktop-menu__link--link-signout {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-ocre);
    color: var(--hospital-blue);

    font-size: var(--sm);
    margin-bottom: 20px;
    font-weight: normal;
}

/*MOBILE MENU*/

.mobile-menu {
    font-weight: bold;
    /*INTEGRACION CON JS */
    position: absolute;
    top: 60px;

}

.mobile-menu a {

    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0 24px;
    display: flex;
    flex-direction: column;

}

.mobile-menu ul li {
    list-style: none;
    margin-top: 24px;

}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-ocre);
    padding-bottom: 24px;

}

.mobile-menu ul:nth-child(2) {
    margin-top: 0;

}

.email {
    font-size: var(--sm);
    font-weight: lighter;

}

.signout {
    font-size: var(--sm);
    font-weight: bold;
}

.signout a {
    color: var(--hospital-blue);

}

/*SHOPING CAR COMPONENT*/
 /*shopping-card*/
 .shopping-card{
    top: 40px;
    right: 0;
    position: absolute;
    width: 360px;
    margin: 20px;
    box-sizing: border-box;
/*Nav*/
}
.nav{
    font-size: var(--md);
    display: flex;
    width: 100%;
    align-items: center;

}
.nav__flecha{
    height: 24px;
    width: 24px;
    margin-right: 16px;
    cursor:pointer;
    padding: 2px;
    
    border-radius:50%;
    
}
.nav__flecha:hover{
    height: 24px;
    width: 24px;
    margin-right: 16px;
    cursor:pointer;
    padding: 2px;
    background-color: var(--hospital-blue);
    
    border-radius:50%;
    
}

/*product-list*/
.product-list{
    margin-bottom: 20px;

}
/*product-card*/
.product-card{
    height: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto auto ;
    align-items: center;
    gap: 14px;
    font-size:var(--sm);
    margin-bottom: 16px;
    justify-items: center;
}
.product-card__image{
    margin:0;
    width: 70px;
}
.product-card__image img{
    width: 70px;
    border-radius: 20px;
}
.product-card__icon{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.product-card :nth-child(3){
    font-weight: bold;
    font-size: var(--md);
}
/*total-card*/
.total-card{
    height: 70px;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    gap: 14px;
    font-size:var(--sm);
    margin-bottom: 16px;
    margin-top: 48px;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--very-light-ocre);
    border-radius: 16px;
}
.total-card p{
    margin:0;
}
.total-card :nth-child(1){
    font-size: var(--sm);
    font-weight: bold;
}
.total-card :nth-child(2){
    font-size: var(--md);
    font-weight: bold;
}

/*primarybuttom*/
.primary-button{
    font-family: var(--font);
    border-style: none;
    font-weight: bold;
    color: var(--white);
    font-size: var(--md);
    width: 100%;
    background-color: var(--hospital-blue);
    height: 60px;
    border-radius: 16px;
    cursor: pointer;
}


/*MEDIAQUERIES*/
@media(max-width:640px) {
    .menu {
        /*aparecerala imagen del menu*/
        display: block;
    }

    /*Desaparecemos el navbar-lef*/
    .navbar-left ul {
        display: none;
    }

    /*Desaparecemos el email*/
    .navbar-email {
        display: none;
        
    }
    /*para qeu sea visible en vista para desktop*/
    .desktop-menu{
        display: none;
    }
    .shopping-card{
        width: 100%;
        position: static;
        
        
    }
}

@media(min-width:640px) {
    /*para que mobile menu solo sea visible en vista para celulares*/
    .mobile-menu{
        display: none;

    }
}